@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
     --cor-principal:#ffbbca;
     --cor-secundaria:#62120a;
     --cor-texto:#4d0c07;
     --cor-de-fundo:#fff3ff;
     --font: "Roboto", sans-serif;;
}
body{
     background-color: var(--cor-principal);
     color: var(--cor-texto);
     font-family: var(--font);
     height: 100vh;
     margin: 0;
}
.cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
}